*{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
	background-color: #f2f2f2;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* HEADER */


.wrapper{
	display: flex;
	flex-direction: row;
	width:100%;
	height: 100vh;
}

/* FORMS */

.card-title {
	padding: 2rem;
	margin-top: 100px;
	font-weight: bold;
}

.form-title {
	text-align:center;
}

.form-wrapper {
	margin: auto;
}

/* GALLERY */

.card {
	height: 15vw;
	width: 15vw;
	min-width: 200px;
	min-height: 200px;
}
.img-gallery {
	padding: 0;
}
.gallery-container {
	padding: 2vw;
	padding-top: 100px;
	/* align-content: center; */
}

/* Container needed to position the overlay. Adjust the width as needed */
.img-container {
	position: relative;
	width: 100%;
	max-width: 400px;
  }

  /* Make the image to responsive */
  .image {
	width: 100%;
	height: auto;
  }

  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	z-index:10;
	display: flex;
	flex-direction: row;
  }

/* When you mouse over the container, fade in the overlay icon*/
.img-container:hover .overlay {
	background-color: rgb(211,211,211);
	opacity: 0.6;
}
/* When you move the mouse over the icon, change color */
.fa-heart:hover {
	color: #eee;
}
.fa-comment:hover {
	color: #eee;
}
.gallery-icon-wrapper {
	margin: auto;
}
.gallery-icon {
	padding: 4px;
}

.edit-wrapper {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.edit-left {
	margin: 1vw;
}
.edit-left-top {
	margin: 20px;
	padding: 20px;

}
.edit-left-image {
	background-color: rgb(141, 142, 223, 0.3);
	width: 600px;
	height: 550px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	margin: auto;

}
.webcam {
	position: absolute;
	display: flex;
	flex-direction: row;
	max-width: 600px;
	z-index: 1;
}
.live-filter {
	position: absolute;
	top: 10%;
	left: 25%;
    /* left: 0;
	top: 0; */
	z-index: 2;

    /* right: 0;
    bottom: 0; */
    /* display: block;*/
    /* margin: auto; */
}

.edit-left-button {
	margin: 1vw;
}
.button-edit {
	background-color: rgb(58, 44, 200);
}
.image-box {
	width: 5vw;
	height: 5vw;
	min-width: 50px;
	min-height: 50px;
	padding: 10px;
	background-color: rgb(141, 142, 223, 0.3);
	border-radius: 25%;
}

.edit-right {
	display: flex;
	flex-direction: column;
}

/* @media screen and (min-width: 20px) and (max-width: 800px) {
	.edit-right {
		display: flex;
		flex-direction: row;
		background-color: gold;
	}
} */
.edit-right-wrapper {
	padding: 20px;
	max-height: 80vh;
	overflow-y: scroll;

}
.empty-gallery {
	margin: 20px;
}
.gallery-item {
	position: relative;
}
.delete-picture {
	/* position: absolute;
	top: 0px;
	right: 0px; */
	float: right;
	/* text-align: right; */
}
.filters-wrapper {
	margin-left: 2vw;
	margin-right: 2vw;

}
.is-selected {
	background-color: #A91E8E;
}

